


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>index</title></head>

<!-- css -->
<link rel="stylesheet" type="text/css" href="asset_path('bootstrap.min.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('bootstrap.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('bootstrap-theme.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('bootstrap-theme.min.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('bootstraapt.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('footer-basic-centered.css')" media="screen, projection">
<!-- /css -->

<!-- js -->
<script type="text/javascript" src="asset_path('bootstrap.js')"></script>
<script type="text/javascript" src="asset_path('npm.js')"></script>
<script type="text/javascript" src="asset_path('bootstrap.min.js')"></script>
<!-- /js -->

<header class="header-login-signup">

	<div class="header-limiter">

		<nav class="bootstraapt">
			<div class="navbar-header">

				<%= image_tag  'logo1.png' ,'height':134 ,'width':154 %>
			</div>
		</nav>

		<nav>
		
		</nav>

		<ul>
			
			<li><a href="/membres/new">Inscription</a></li>
		</ul>

	</div>

</header>

<body style="padding-left: 115px;padding-right: 115px;">
	<!-- Menu pricipal -->
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Acceuil</a></li>
		
	</ul>
	<!-- Menu pricipal -->
	<!--Breadcrumbs-->
	<ol class="breadcrumb">
		<li><a href="/trajets/search">Acceuil</a></li>
		<li><a href="#">Login</a></li>
		
	</ol>
	<!--/Breadcrumbs-->
	<!-- pabel content -->
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Login</h3></div>
		<div class="panel-body" >
			<!--img src="../logo.png" class="img-responsive img-rounded" alt="Responsive image" style="width: 100%;height: 369px;"-->
			<div class="jumbotron" align="center">
						   <% if flash[:msg] %>
		    <div id="success_msg" class="alert alert-danger" role="alert"><%= flash[:msg] %></div>
		    <script type="text/javascript">
		     $('#success_msg').show().fadeIn(4000);
		     
		    </script>
		  <% end %>
			        <div class="form-horizontal">
	        <%= form_tag :action => 'login' do %>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-4 control-label">s'identifier :</label>
						<div class="col-sm-4">
						  <div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
							<%= text_field 'membres', 'email',{class:'form-control','data-validation':'email'} %>
						  </div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-4 control-label">Mot de passe :</label>
						<div class="col-sm-4">
						  <div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
							<%= password_field 'membres', 'mdp',{class:'form-control','data-validation-length':'3-8'} %>
						  </div>
						</div>
					</div>

				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
					  <%= submit_tag "Connexion",class:'btn btn-success' %>
					</div>
				  </div>
				  <% end %>
</div >

					</div>


				</div>
			</div>


		</div>
		<!-- pabel content -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.19/jquery.form-validator.min.js"></script>
<script>
  $.validate({
    lang: 'fr'
  });
</script>




	</body>
	<footer class="footer-basic-centered">

		<p class="footer-company-motto">Covoiturage</p>

		<p class="footer-links">
			<a href="#">inscrption</a>
			·
			<a href="#">Blog</a>
		</p>

		<p class="footer-company-name">Company Name &copy; 2016</p>

	</footer></html>








