<h1>voir membre</h1>
<p>nom :<%= @membre.nom %></p>
<p>prenom<%= @membre.prenom %></p>
<p>age :<%= @membre.age %></p>
<p>email :<%= @membre.email %></p>

<hr />
<%= link_to 'Back', {:action => 'index'} %>