
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Recherche Trajet</title></head>

<!-- css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>




<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- /css -->

<!-- /css -->

<!-- js -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- /js -->
	
<header class="header-login-signup">

	<div class="header-limiter">

		<nav class="bootstraapt">
			<div class="navbar-header">
			<%= image_tag  'logo1.png' ,'height':134 ,'width':154 %>
			</div>
		</nav>
        		<ul>
         <% if session[:current_user_id] %>
        <% session[:current_user_id].each do |m| %>
         <% @va=  m["id"]     %>
         <%    @nom= m["nom"]    %>
         <%    @prenom= m["prenom"]  %>
         <% end %>
		
      
        <li><span class="label label-success" >Bienvenue ! <%= @nom+' '+@prenom    %></span></li>
  
      <% end %>
		</ul>
	

	</div>

</header>

<body style="padding-left: 115px;padding-right: 115px;">
<!-- Menu pricipal -->
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>


<% if session[:current_user_id] %>
<% session[:current_user_id].each do |m| %>
<% @va=  m["id"]       %>

<% end %>
  <li role="presentation"><a href="/membres/<%=@va%>/">Mon Profile</a></li>
  <li role="presentation"><a href="/trajets/new">Ajouter un trajet</a></li>
  <li role="presentation"><a href="/trajets/">Mes trajets</a></li>
    <li role="presentation"><a href="/trajets/list_reservation">Mes Reservations</a></li>
  <li role="presentation"><a href="/membres/logout">Deconnexion</a></li>
<% else %>
  <li role="presentation"><a href="/membres/connexion">Connexion</a></li>
  <li role="presentation"><a href="/membres/new">Inscription</a></li>

<% end %>


</ul>
<!-- Menu pricipal -->
<!--Breadcrumbs-->
<ol class="breadcrumb">
  <li><a href="/trajets/search">Acceuil</a></li>
  <li><a href="/trajets/">Trajet</a></li>
  <li class="active">Recherche</li>
</ol>
<!--/Breadcrumbs-->
<!-- pabel content -->

<!-- pabel content -->
<div class="panel panel-default">
<div class="panel-body">
<% if @trajets.blank? %>
<div class="alert alert-danger" role="alert">
Il n'y a pas de trajet actuellement dans le système.
</div>

<% else %>



		<% @trajets.each do |c| %>
       

         
           <div class="row">
  <div class="col-xs-6 col-sm-4">
 <div class="btn-group btn-group-justified" role="group" >

			<div class="btn-group" role="group" style="padding-left: 106px;">
			
				<img src="image/Conducteur-homme.jpg" alt="..." class="img-circle">
	            <%= image_tag  'Conducteur-homme.jpg' %>
			</div>
		
			<div class="btn-group" role="group" >
			  <% @conducteurs.each do |o| %>
	           
			           <% if c.id_conducteur==o.idMembre %>
			           
				             <% @membres.each do |m| %>

					                 <% if m.id==o.idMembre%>
                                         
                                         <h4><span class="label label-primary"><%= m.nom %> <%= m.prenom %></span></h4>
				<h4><span class="label label-info"><%= m.age %> ans</span></h4>
					                    
					                    
					                    
					                 <%end %>
			                 <% end %>
			           <% end %>

	           <% end %>
				
				
			</div>
	
		</div>
		<div style="padding-left: 140px;">
		<h4><span class="label label-default" > <% @voitures.each do |q| %>
				<%  if c.id_voiture==q.id %>

				<%= q.marque %>
                   <%= q.nb_place %>
				<% end %>
			<% end %>	 Place disponibles </span></h4>
		</div>
 
  </div>
  <div class="col-xs-6 col-sm-4">
  <h3><span class="label label-success">  <%= c.date %></span></h3>
  
  <p><span class="glyphicon glyphicon-export" aria-hidden="true" title="départ"><strong>   
  	<% @villes.each do |vi| %>

				<%  if c.id_ville_source.to_f == vi.id %>

				
                   <%= vi.nom_ville %>
				<% end %>
			<% end %>	

  </span></p>
  <p><span class="glyphicon glyphicon-import" aria-hidden="true" title="Arrivée"><strong> 
  	           <% @villes.each do |ve| %>
				<%  if c.id_ville_destination.to_f==ve.id %>

				
                   <%= ve.nom_ville %>
				<% end %>
			<% end %>
  </span></p>
  </div>
  
  
  <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0">
  
  <blockquote>
  <p><span class="label label-danger"><%= c.prix   %> DT</span></p>
  <footer><span class="label label-warning">par place</span></footer>
  <strong><a href ="#">  </a><%= link_to 'lire l anonce', {:action => 'show', :id => c.id} -%></strong>
</blockquote>
  
  
  </div>
</div>
<hr style="width: 74%;">


        
           
           
       

		   

			
	           
	<% end %>
        
<% end %>





















</div>
</div>

<!-- /pabel content -->


</body>
<footer class="footer-basic-centered">

			<p class="footer-company-motto">Covoiturage</p>

			<p class="footer-links">
				<a href="#">inscrption</a>
				·
				<a href="#">Blog</a>
			</p>

			<p class="footer-company-name">Company Name &copy; 2016</p>

		</footer></html>