<h1>voir trajet</h1>
<p>ville source :<%= @ville_source.nom_ville %></p>
<p>ville destination <%= @ville_destiantion.nom_ville %></p>
<p>voiture :<%= @voiture.marque %></p>
<p>conducteur :<%= @conducteur.nom %></p>

<hr />
<%= link_to 'Back', {:action => 'index'} %>