


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>index</title></head>

<!-- css -->
<link rel="stylesheet" type="text/css" href="asset_path('bootstrap.min.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('bootstrap.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('bootstrap-theme.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('bootstrap-theme.min.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('bootstraapt.css')" media="screen, projection">
<link rel="stylesheet" type="text/css" href="asset_path('footer-basic-centered.css')" media="screen, projection">
<!-- /css -->

<!-- js -->
<script type="text/javascript" src="asset_path('bootstrap.js')"></script>
<script type="text/javascript" src="asset_path('npm.js')"></script>
<script type="text/javascript" src="asset_path('bootstrap.min.js')"></script>
<!-- /js -->

<header class="header-login-signup">

	<div class="header-limiter">

		<nav class="bootstraapt">
			<div class="navbar-header">

				<%= image_tag  'logo1.png' ,'height':134 ,'width':154 %>
			</div>
		</nav>

		<ul>
			<% if session[:current_user_id] %>
			<% session[:current_user_id].each do |m| %>
			<% @va=  m["id"]     %>
			<%    @nom= m["nom"]    %>
			<%    @prenom= m["prenom"]  %>
			<% end %>


			<li><span class="label label-success" >Bienvenue ! <%= @nom+' '+@prenom    %></span></li>
			<% else %>

			<li><a href="/membres/connexion">Login</a></li>
			<li><a href="/membres/new">Inscription</a></li>

			<% end %>
		</ul>
	</div>

</header>

<body style="padding-left: 115px;padding-right: 115px;">
	<!-- Menu pricipal -->
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Home</a></li>
		<% if session[:current_user_id] %>
		<% session[:current_user_id].each do |m| %>
		<% @va=  m["id"]       %>

		<% end %>
		<li role="presentation"><a href="/membres/<%=@va%>/">Mon Profile</a></li>
		<li role="presentation"><a href="/trajets/new">Ajouter un trajet</a></li>
		  <li role="presentation"><a href="/trajets/list_reservation">Mes Reservations</a></li>
		<li role="presentation"><a href="/trajets/">Mes trajets</a></li>
		<li role="presentation"><a href="/membres/logout">Deconnexion</a></li>
		<% else %>
		<li role="presentation"><a href="/membres/connexion">Connexion</a></li>
		<li role="presentation"><a href="/membres/new">Inscription</a></li>

		<% end %>

		
	</ul>
	<!-- Menu pricipal -->
	<!--Breadcrumbs-->
	<ol class="breadcrumb">
		<li><a href="/trajets/search">Acceuil</a></li>
		<li><a href="">Mon profile</a></li>
		
	</ol>
	<!--/Breadcrumbs-->
	<!-- pabel content -->
	<div class="panel panel-default">
		<div class="panel-heading"><h3>voir profile</h3></div>
		<div class="panel-body" >
			<%= link_to 'Ajouter  voiture', {:action => 'new'},{ :class=>"btn btn-primary" }  %><br><br>
			<!--img src="../logo.png" class="img-responsive img-rounded" alt="Responsive image" style="width: 100%;height: 369px;"-->
			<div class="jumbotron" align="center">


				<%= form_for @voiture, :url =>{:action => "update", :id =>@voiture} do |f| %>

				<label>marque: </label>
				<p><%= f.text_field 'marque' %></p>

				<label>matricule:</label>
				<p> <%= f.text_field 'matricule' %></p>


				<label>couleur</label>
				<%= f.text_field 'couleur' %></p>

				<label>nombre de place</label>
				<%= f.text_field 'nb_place' %></p>

				<%= f.submit "modifier" %>
				<% end %>




			</div>



		</div>
	</div>


</div>
<!-- pabel content -->




</body>
<footer class="footer-basic-centered">

	<p class="footer-company-motto">Covoiturage</p>

	<p class="footer-links">
		<a href="#">inscrption</a>
		·
		<a href="#">Blog</a>
	</p>

	<p class="footer-company-name">Company Name &copy; 2016</p>

</footer></html>

